#introBody {
  text-align: center;
  background-image: url('background.png');
  background-attachment: fixed;
}

.text {
  height: 40vh;
  text-align: center;
  font-family: 'Abel';
  font-weight: lighter;
  margin-top: 30vh;
  margin-bottom: 30vh;
  margin-left: 30vw;
  margin-right: 30vw;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 38, 77, 0.1);
  border-radius: 25px;
}

.textParent {
  padding: 5% 0;
}

.textChild {
  padding: 10% 0;
}

body {
  text-align: center;
}

p {
  text-align: center;
  padding: 10;
}

ul {
  list-style-type: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  font-family: 'Abel';
  font-weight: lighter;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
    background-color: rgba(0, 38, 77, 0.7);
}

li button {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li button:hover {
    background-color: rgba(0, 38, 77, 0.7);
}
